<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
</head>
<body>
    <h1>เลือกกอะไรครับ</h1>
    <form action="/getpoint" method="POST">
        <input type="text" class="day" name="day">
        <input type="number" name="Pnum" class="Pnum">
        <button class="gen">gen</button>
    </form>
    <a href="/Home">Home</a>
</body>
</html>